*{
    padding: 0 0;
    margin: 0 0 ;
}
.homePage{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 480px) {
    .homePage{
        
        height: 100%;
        
    }
  }